@charset 'UTF-8';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  color: var(--color-body);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  box-sizing: content-box;
  margin: auto;
  max-width: var(--site-maxwidth);
}

.button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: var(--color-body);
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;

  &:focus {
    outline: none;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  opacity: 1;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  opacity: 1;
}

:-webkit-autofill {
  opacity: 1;
}
